@import "tailwindcss";
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/marhey/400.css';
@import '@fontsource/lato/400.css';
@import '@fontsource/open-sans/300.css';
@import '@fontsource/open-sans/400.css';
@import '@fontsource/open-sans/500.css';
@import '@fontsource/open-sans/600.css';
@import '@fontsource/open-sans/700.css';
@import '@fontsource/open-sans/800.css';

:root {
  --color-primary: #ffffff;
  --color-purple: #635dff;
  --color-purple-hover: #4E48EF;
  --color-purple-background: #19163E;
}

body {
  background-color: var(--color-primary);
  font-family: 'Open Sans', sans-serif;
}

.logo-font {
  font-family: 'Marhey', cursive;
}

.shadow-top {
  box-shadow: 0 -8px 16px -8px rgba(0,0,0,0.15);
}

