.categories-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh; /* Asegura que el body crezca */
    margin-top: -2.5rem;
    margin-left: -5rem;
}

.categories-wrapper {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    width: 73.3vw;
    min-height: 600px;
    margin-top: 55px;
    overflow: visible;
}

.category-option {
    background-color: #222222;
    width: 85%;
    height: 120px; /* Ajustado */
    color: #fff;
    display: flex;
    align-items: flex-start; /* Centrar elementos */
    font-size: 10px;
    margin-top: 25px;
    margin-left: 10%;
    padding: 10px;
    border-radius: 10px;
    gap: 15px; /* Espacio entre imagen y texto */
}

.category-option:hover {
    background-color: #1E1E1E;
    border: 2px solid #b6b6b6;
    cursor: pointer;
}

.category-image {
    padding-left: 15px;
    min-width: 200px; /* Ajusta según necesidad */
    height: 100px;
    object-fit: cover; /* Para que la imagen se vea bien */
}

.category-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: initial;
    width: 100%;
}

.category-inputs {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}

.category-text h1 {
    font-size: 20px;
    font-weight: 600;
}

.category-text h2 {
    font-size: 14px;
    font-weight: 500;
}

.categories-wrapper button {
    background-color: #1E1E1E;
    width: 120px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.option-buttons {
    position: absolute;
    top: 600px;
    left: 35%;
}

.categories-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    min-width: 100%;
    height: 50px;
    font-size: 12px;
}

.categories-title h1 {
    margin-left: 10%;
    margin-right: 30%;
}

.new-category {
    margin-top: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 75px;
    margin-left: 10%;
    border-radius: 30px;
    border: 2px dashed rgb(199, 199, 199);
}

.new-category h1 {
    font-size: 19px;
    font-weight: 600;
}

.new-category:hover {
    background-color: #4d4d4d52;
    cursor: pointer;
}

.category-box-icon {
    display: flex;
    flex-direction: row;
}

.category-box-icon box-icon {
    width: 30px;
    height: 100%;
}

.category-box-icon box-icon:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
}

box-icon[name="edit-alt"] {
    fill: var(--note-color);
}

box-icon[name="trash"] {
    fill: var(--forge-color);
}