.create-exercise-body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-exercise-form {
    margin-top: 12vh;
    display: flex;
    flex-direction: column; /* Para que los elementos se ajusten */
    align-self: center;
    align-items: stretch; /* Se adapta al contenido */
    justify-content: center;
    width: 70vw;
    color: var(--forms);
    background-color: rgb(35, 35, 35);
}

.create-exercise-form h1 {
    margin: 20px auto;
    color: #fff;
}


.create-exercise-form label {
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    margin: 10px 0;
}

.create-exercise-form input {
    height: 35px;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}

.create-exercise-form textarea {
    max-width: 100%; 
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    overflow-wrap: break-word;
    background-color: rgb(77, 77, 77);
    border: none;
    color: #fff;
    resize: vertical;
}


.create-exercise-form fieldset {
    width: 65vw;
    padding: 10px;
    border: none;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.create-exercise-form select {
    margin-bottom: 1.5rem;
}

.title-exercise {
    width: 80%;
    resize: none;
    background-color: rgb(77, 77, 77);
    color: #fff;
    border: none;
}

.difficulty-container {
    display: flex;
    gap: 10px;
}

.difficulty-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--gray-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.difficulty-option input {
    display: none; /* Oculta el radio button */
}

.difficulty-option:hover {
    background-color: #4CAF50;
}

.difficulty-option input:checked + span {
    background-color: #28a745; /* Verde */
    color: white;
    border-color: #1e7e34;
    padding: 8px 15px;
    display: block;
    border-radius: 5px;
}

.category-exercise {
    width: max-content;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.save-button {
    background-color: var(--exercises-color);
    color: rgb(0, 0, 0);
    width: 200px; 
    height: 50px; 
    min-height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    align-self: center;
}

.save-button:hover {
    background-color: rgb(23, 241, 23);
    transform: scale(1.05);
}

.save-button:active {
    transform: scale(0.95);
}

.description-exercise {
    min-width: 30vw;
    min-height: 50vh;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 5px 0.5rem;
}

.description-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
}

.description-editor {
    width: 50%;
}

.latex-preview {
    width: 30vw;
    min-height: 50vh;
    background: var(--forms);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.latex-preview h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.preview-box {
    padding: 10px;
    background: white;
    min-height: 40vh;
    border-radius: 5px;
    font-size: 1.2rem;
}

.latex-preview .preview-box {
    padding: 15px;
    border: 1px solid #ccc;
    min-height: 150px;
    height: 45vh;
    background: white;
    overflow: auto;
}

.katex {
    font-size: 1.1em !important;
    margin: 5px 0;
}
