.create-exercise-body {
    overflow-x: hidden;
}

.create-exercise-form {
    width: 100vw; 
    min-height: 200px; 
    background-color: var(--forms); 
    padding: 15px 30px;
    border-radius: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    overflow: visible; 
    margin-top: 6rem;
}

.lateral-panel {
    max-width: 20vw;
}

.create-exercise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    min-height: 100vh; /* Asegura que todo el contenedor crezca si es necesario */
}

.create-exercise-form label {
    font-size: 16px;
    font-weight: bold;
}

.create-exercise-form textarea {
    border: none;
    background-color: #fff;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 5px;
    font-size: 15px;
}

.create-exercise-form fieldset {
    padding: 10px;
}

.create-exercise-form legend {
    margin-left: 30px;
}

.save-button {
    background-color: var(--exercises-color);
    color: rgb(0, 0, 0);
    width: 200px; 
    height: 50px; 
    min-height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    align-self: center;
}

.save-button:hover {
    background-color: rgb(23, 241, 23);
    transform: scale(1.05);
}

.save-button:active {
    transform: scale(0.95);
}

.description-exercise {
    min-width: 50vw;
    min-height: 50vh;
}

.description-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.description-editor {
    width: 50%;
}

.latex-preview {
    width: 30vw;
    min-height: 50vh;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.latex-preview h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.preview-box {
    padding: 10px;
    background: white;
    min-height: 40vh;
    border-radius: 5px;
    font-size: 1.2rem;
}

.latex-preview .preview-box {
    padding: 15px;
    border: 1px solid #ccc;
    min-height: 150px;
    background: white;
    overflow: auto;
}

.katex {
    font-size: 1.1em !important;
    margin: 5px 0;
}
