body {
    background-color: black;
}

body .feature-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-navbar button {
    display: flex; /* Habilita el uso de flexbox dentro de los botones */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    background-color: #3E3E3E;
    width: 150px;
    height: 70px;
    margin-top: 8vh;
    font-size: 15px;
    color: #fff;
}