.exercises-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: url('/src/assets/login-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    width: 100%; 
}

.exercises-wrapper {
    margin: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 40rem;
    z-index: 100;
    justify-content: center;
}

.ex-title {
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 20px;
}