.background-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-color);
    width: 250px;
    height: 500px;
    color: #fff;
    margin-top: 5rem;
    margin-left: 2rem;
}

.circle-panel {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 20px;
    background: url('/src/assets/user-panel-photo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.background-panel button {
    margin-bottom: 20px;
    background-color: #fff;
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
}

.background-panel button:hover {
    cursor: pointer;
}