.create-guides-page {
    display: flex;
    flex-direction: row;
    margin-top: 5.5rem;
    color: #fff;
}

.lateral-panel {
    width: 20rem;
    margin: 0 2rem;
    height: 80vh;
    color: #fff;
}

.custom-exercise-option {
    width: 100%;
    color: #fff;
    background-color: #000000;
    border: 1px solid var(--forge-color);
    padding: 0;
    margin: 0;
    height: 100px;
}

.custom-exercise-option:hover {
    background-color: palevioletred;
    color: #fff;
    border: 1px solid var(--forge-color);
}

.custom-exercise-option box-icon {
    visibility: hidden;
}


input[name="guide"] {
    color: #fff;
    width: calc(100% - 5rem);
    background-color: transparent;
    border-bottom: 2px solid var(--note-color);
    margin-bottom: 20px;
}

.lateral-panel p {
    margin-bottom: 10px;
}

.mini-panel {
    min-height: 300px; /* Altura mínima */
    height: auto; /* Ajuste dinámico de altura */
    margin: 15px 0;
    max-height: 400px; /* Altura máxima */
    box-sizing: border-box;
    overflow-y: auto; /* Barra de desplazamiento vertical si el contenido excede el max-height */
}

/* Estilo para la barra de desplazamiento */
.mini-panel::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento vertical */
    height: 12px; /* Alto de la barra de desplazamiento horizontal */
}

/* Estilo para el track (fondo) de la barra de desplazamiento */
.mini-panel::-webkit-scrollbar-track {
    background-color: #2c2c2c; /* Color del track */
}

/* Estilo para el pulgar (thumb) de la barra de desplazamiento */
.mini-panel::-webkit-scrollbar-thumb {
    background-color: var(--forge-color); /* Color del pulgar */
}

/* Estilo para el pulgar cuando está en hover */
.mini-panel::-webkit-scrollbar-thumb:hover {
    background-color: var(--note-color); /* Color del pulgar al pasar el mouse */
}

.guide-creation {
    background-color: transparent;
    border: 2px dashed #fff;
    min-height: 50vh;
    height: auto;
    padding: 35px 25px;
    margin-top: 1rem;
    box-sizing: border-box;
    max-width: 25rem
}

.exercise-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 5px 2px var(--forge-color);
    margin-bottom: 30px;
}

.item-position {
    align-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    background: linear-gradient(rgba(212, 0, 255, 0.762), var(--forge-color));
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    border-radius: 100%;
}

.right-panel {
    margin-left: 40px;
    width: calc(100vw - 55vw);
    background-color: transparent;
}

.right-panel label {
    font-size: 18px;
    font-weight: 600;
}

.right-panel textarea {
    min-height: 60vh;
    width: 100%;
    background-color: transparent;
    color: #fff;
}

.guide-images {
    width: 100%;
    height: 15vh;
    background-color: transparent;
}

.guide-images {
    display: flex;
    flex-direction: row; /* Hace que las imágenes estén en fila */
    flex-wrap: wrap; /* Permite que pasen a otra línea si no caben */
    gap: 10px; /* Espacio entre imágenes */
    padding: 10px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: white;
}

.guide-image {
    max-width: 100px; /* Ajusta el tamaño de la imagen */
    max-height: 100px;
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    border-radius: 5px; /* Bordes redondeados */
}

.right-panel p {
    font-size: 18px;
    font-weight: 600;
}