:root {
    --note-color: #FFE354;
    --forge-color: #ff2a74;
    --category-color: #36EEFF;
    --exercises-color: #65FF36;
    --guides-color: #F2BA52;
    --forms: #E3E3E3;
    --gray-color: #1E1E1E;
}

body {
    background-color: black;
}

body .feature-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-navbar button {
    display: flex; /* Habilita el uso de flexbox dentro de los botones */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    background-color: #3E3E3E;
    width: 150px;
    height: 70px;
    margin-top: 13vh;
    margin-bottom: 5vh;
    font-size: 15px;
    color: #fff;
}

.feature-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    padding-left: 28px;
}

.feature-menu {
    background-color: transparent;
    min-width: 700px;
    min-height: 400px;
    color: #fff;
    font-size: 9px;
    display: flex;
    flex-direction: column;
}

.feature-menu h1 {
    margin: 20px;
    font-weight: 500;
}

.feature-menu button {
    width: 25%;
    height: 5%;
    margin: 10px;
}

.feature-buttons {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border: none;
    width: 45rem;
    height: 100px;
}

.feature-buttons button {
    width: 12rem;
    height: 4rem;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    border: none;
}

.feature-buttons button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.categories-button {
    background-color: var(--category-color); 
}

.exercises-button {
    background-color: var(--exercises-color);
}

.guides-button {
    background-color: var(--guides-color); 
}