.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent;
}

.header .navbar {
    background-color: #1E1E1E;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;  
}

.header .note-forge-icon {
    margin-top: 5px;  
    margin-left: 5%;
    width: 40px;
    height: 40px;
}

.header .logo-note-forge {
    margin-left: 1%;
    margin-right: 30%;
}

.navbar {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;  
    width: 100%;
}

.navbar .search-bar {
    margin-top: 1.5%;;
    margin-right: 1rem;
    margin-left: 2.5rem;
    width: 450px;
}

.navbar a {
    font-size: 1.2rem;
    background-image: linear-gradient(to right, rgb(255, 255, 255), #b1b1b1); /* Gradiente de gris a blanco */
    -webkit-background-clip: text; /* Aplica el gradiente solo al texto */
    color: transparent; /* Hace que el color de texto sea transparente para mostrar el gradiente */
    text-decoration: none;
    font-weight: 600;
    margin-left: 2rem;
}

.user-circle-icon box-icon {
    fill: #D5D5D5;
    width: 45px;
    height: 45px;
    margin-top: 8px;
    margin-left: 15px;
}

.navbar .search-bar {
    margin-bottom: 20px;
}


#check {
    position: absolute;
    width: 50px; 
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

.icons {
    display: none;
    align-items: center;
    justify-content: center;
    fill: white;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        flex-direction: column;
        background: rgb(24, 0, 44);
        backdrop-filter: blur(5px);
    }

    #check:checked~.navbar {
        min-height: 50vh;
    }

    .navbar a {
        display: block; 
        font-size: 1.1rem;
        margin: 0.5rem 0;
        text-align: center;
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i)); 
    }

    .recently-exercises {
        display: none;
        opacity: 0;
    }
}